@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p, a, li, ul, ol {
    font-family: theme("fontFamily.body");
    color: theme("colors.brand.darker");
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme("fontFamily.heading");
    color: theme("colors.brand.darker");
  }

  .contact-form {
    @apply grid grid-cols-1 gap-6 mt-5;
  }

  .conact-form label {
    @apply block;
  }

  .contact-form label span {
    @apply font-heading block mb-1;
  }

  .contact-form input, .contact-form textarea {
    @apply block w-full py-2 px-3 border-2 border-brand-darker rounded-md focus:border-brand-yellow focus:outline-none focus:shadow-md;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .button {
    @apply bg-gradient px-5 py-2 rounded-md shadow-md font-heading text-brand-darker;
  }
}

@layer utilities {
  body.home {
    overflow: hidden;
    height: 100%;
  }

  .bg-gradient {
    background-image: linear-gradient(90deg, theme("colors.brand.yellow") 0%, theme("colors.brand.orange") 100%);
  }

  /* accounts for height of header and footer to ensure content is at least full screen */
  .layout {
    min-height: calc(100vh - 259px);
  }
}